<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"> -->
    <link rel="stylesheet" href="scratch.css" />
    <title>Axios</title>
  </head>
  
  <body>
    
    <section>
      <h1>Dad Jokes</h1>
      <button id="btnGetJoke">Get New Dad Joke!</button>
      <hr>
      <ul id="jokeList"></ul>
    </section>

    <!-- SCRIPT TO ADD AXIOS INTO YOUR PROJECT (MAY NEED TO BE UPDATED) -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script src="axiosTemplate.js"></script>
  </body>
</html>
